<div class="row title-box">
    <div class="col title-text">
        Fase de Seleção
    </div>
    <div class="col def-text ">
        <p>Selecione 8 filmes que você deseja que entrem na competição e depois pressione o botão 'Gerar Meu Campeonato'
            para prosseguir.</p>
    </div>
</div>

<div class="row linha-selec">
    <div class="col">
        <p class="select-text">Selecionados {{quantidadeSelecionados}} de 8 filmes</p>
    </div>
    <div class="col"><button type="button" class="btn btn-primary" style="float: right;" (click)="executaCopa()">Gerar
            Meu Campeonato</button>
    </div>
</div>

<div class="row">
    <div *ngFor="let filme of listaFilmes" class="col-3">
        <div class="cell-text" (click)="onMovieClick(filme)"
            [ngStyle]="{'background-color': (filme.selected==true) ? '#88ffff' : 'white'}">
            <p>{{filme.titulo}}</p>
            <p>{{filme.ano}}</p>
        </div>
    </div>
</div>