.cell-text {
    text-align: center;
    vertical-align: middle;
    margin-top: 10px;
    margin: 3px;
    border: 2px;
    border-radius: 15px;
    border-color: black;
    border-style: solid;
}

.title-text {
    text-align: center;
    margin: auto;
    margin-top: 10px;
    display: block;
    font-size: 25px;
    color: seagreen;
}

.def-text {
    text-align: center;
    margin: auto;
    margin-top: 15px;
    display: block;
    font-size: 15px;
}

.title-box {
    margin-top: 10px;
    border: 1px;
    border-color: black;
    border-style: solid;
    width: auto;
    height: 80px;
    text-align: center;
    display: block;
    margin: auto;
}

.select-text {
    margin:0 px;
    display: table-cell;
    vertical-align: middle;
    padding: 10px;
}

.linha-selec{
    margin:5px;
}